*,*::before,*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(214, 240, 214);

}

.app {
  min-width: 600px;
  padding: 1.5em;
}

.word-to-guess {
  margin-top: 2em;
  margin-bottom: 2.5em;
  text-align: center;
  word-wrap: break-word;
}

.letter {
  display: inline;
  font-size: 3rem;
  margin: .5em;
  border-bottom: 5px solid;
}

.keyboard {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  gap: 1em;
}

.btn {
  padding: 1em 1.5em;
  font-size: 1.5rem;
  border-radius: .3em;
}

.btn:hover:not(:disabled) {
  background-color: rgb(107, 160, 107);
}

.active {
  background-color: rgb(74, 116, 68);
}

.status {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.status-text {
  font-size: 2rem;
}

.restart-btn {
  font-size: 1.5rem;
  padding: .7em 1.5em;
  background-color: blue;
  color: white;
  border-radius: .3em;
}

.restart-btn:hover {
  background-color: rgb(4, 4, 122);
}

@media (min-width: 600px) {
  .btn {
    font-size: 1.2em;
  }

  .restart-btn {
    font-size: 1.2rem;
    padding: .5em 1em;
  }
}
